<VirtualHost *:{{item.port | default('80')}}>
	ServerName {{item.name}}.lvh.me
	{% for alias in item.aliases|default([]) %}
	ServerAlias {{alias}}
	{% endfor %}

	{% for settings_param in item.vhost_overrides|default([]) %}
  {{settings_param}}
  {% endfor %}
	
	WSGIScriptAlias / {{item.path}}/{{item.wsgi_name | default('vagrant.wsgi')}}
	WSGIDaemonProcess {{item.name}}.lvh.me  processes=2 threads=1 python-path={{item.path}}:{{item.path}}/p-env/lib/python2.7/site-packages
	WSGIProcessGroup {{item.name}}.lvh.me
	<Directory {{item.path}}>
		Order allow,deny
		Allow from all
		Require all granted
	</Directory>
</VirtualHost>
