#!/bin/sh

if [ -n "${JAVA_HOME}" ] && [ -x "${JAVA_HOME}/bin/java" ] ; then
    JAVA="${JAVA_HOME}/bin/java"
elif [ -x /usr/bin/java ] ; then
    JAVA=/usr/bin/java
else
    echo Cannot find JVM
    exit 1
fi

java -cp $(echo {{schemaspy_base_dir | default("/opt/schemaspy/")}}*.jar | tr ' ' ':') net.sourceforge.schemaspy.Main $*
