[Desktop Entry]
Version=1.0
Type=Application
Name={{item.name}}
Exec="{{item.exec}}" %f
Icon={{item.icon}}
Comment={{item.comment}}
Categories={{item.categories}}
Terminal=false
StartupNotify=true
StartupWMClass={{item.startupwmclass}}
